.card {
  width: 220px;
  height: 355px;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  position: relative;

  margin-bottom: 130px;
}

.heart {
  width: 34px;
  height: 34px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: #ffffff5e;

  position: absolute;
  top: 10px;
  left: 10px;
}
.discount {
  width: 57px;
  height: 29px;

  background: #00000051;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font: normal normal medium 18px/22px "Montserrat";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.54px;

  position: absolute;
  left: 0;
  bottom: 90px;
}

.title {
  font: normal normal medium 14px/18px "Montserrat";
  letter-spacing: 0.42px;
  color: #000000;
  opacity: 1;
  font-size: 8px;
}

.price {
  display: flex;
  gap: 16px;
}

.newPrece {
  color: #ff0102;
  letter-spacing: 0.6px;
  font: normal normal normal 18px/22px "Montserrat";
}

.oldPrice {
  text-decoration: line-through;
  font: normal normal normal 18px/22px "Montserrat";
  letter-spacing: 0.54px;
  color: #939393;
  opacity: 1;
}

.model {
  border: 1px solid black;
  font: normal normal normal 14px/18px "Montserrat";
  letter-spacing: 0.42px;
  color: #000000;
  opacity: 1;
  padding: 3px 6px 2px 6px;
}

.item_container {
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.527);
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
}
