.list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:35px;
}
.offerHeader{
    width: 1250px;
    margin: 56px 0 24px 0;
}
.test{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}