.timerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:24px;
}
.time{
    font: normal normal medium 14px/18px ;
    font-family:  "Montserrat";
    font-weight: 500;
}
span{
    color: var(--orange);
    padding-right: 4px;
    font: normal normal bold 14px/18px;
    font-family:  "Montserrat";
    font-weight: 600;
}